body {
  background-color: #f0f0f0;
}

.content {
  display: flex;
  gap: 40px;
}

.box {
  width: 200px;
  height: 100px;
  border: 5px solid black;
  text-align: center;
  border-radius: 5px;
}

.default-box {
  box-sizing: content-box;
  background-color: #aee136;
}

.border-box {
  box-sizing: border-box;
  background-color: #90ee90;
}
