* {
  box-sizing: border-box;
}
body {
  padding: 30px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.item {
  background-color: #5f5353;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 8px;
}
