.icon {
  position: relative;
  display: inline;
  font-size: 32px;
}

.badge {
  position: absolute;
  top: -2px;
  right: -5px;

  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 8px;
}
